.attachments {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5vmax;
  font-size: 1.35vmax;

  & > h3 {
    font-size: 1.7vmax;
    margin-bottom: 1vmax;
  }

  & > ul {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1vmax;

      label {
        width: 2vmax;
        height: 3vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9vmax;
        font-weight: 100;
        margin-right: 1vmax;
        overflow: hidden;
        border-style: solid;
        border-width: 0.1vmax;
      }

      div {
        margin-right: 1vmax;
        a {
          font-size: 1.35vmax;
        }
        p {
          font-size: 1vmax;
        }
      }
      button {
        font-size: 2vmax;
        padding: 0;
        margin: 0;
        background-color: transparent;
        width: 2.5vmax;
        height: 2.5vmax;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .attachments {
    font-size: 16px;
    margin-bottom: 30px;
    & > h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    & > ul {
      li {
        label {
          width: 26px;
          height: 36px;
          font-size: 9px;
          margin-right: 12px;
          border-width: 1px;
        }
        div {
          a {
            font-size: 16px;
          }
          p {
            font-size: 12px;
          }
        }
        button {
          font-size: 23px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
