.picker {
  display: flex;
  flex-direction: column;
  border-radius: .3vmax;
  font-size: 1vmax;
  font-weight: 400;
  background-color: rgb(197, 235, 248);
  color: #424242;

  .navigation {
    display: flex;
    justify-content: space-around;
    padding: .5vmax;
    width: 100%;

    &>div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      button {
        width: 3vmax;
        padding: 0;
        margin: 0;
        background-color: transparent;
        font: inherit;
        letter-spacing: .1vmax;
        color: #0183d4;
        outline: .1vmax solid transparent;
        transition: outline .3s;

        &.navBtn {
          width: 2vmax;
        }

        .faCaret {
          // color:rgb(128, 128, 128);
          color: #0183d4;
        }  

        &.rest {
          padding: 0;
          width: 7vmax;
        }
        &:hover:has(.faCaret) {
          // outline: 1px solid rgb(128, 128, 128);
          outline: .1vmax solid rgba(245, 222, 179, 0.507);
        }
      }      
    }
  }

  .dayNames {
    width: 100%;
    display: grid;
    place-items: center;
    gap: .2vmax;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding: .2vmax;
    color: #424242;

    .weekDayName {
      font-weight: 700;
      font-size: smaller;
      &.weekend {
        color: red;
      }
    }
  }

  .dates {
    width: 100%;
    display: grid;
    place-items: center;
    gap: .2vmax;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding: .2vmax;

    .dateCell {
      width: 2.5vmax;
      height: 2.5vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: rgba(173, 216, 230, 0.486);
      color: #424242;      
      border-radius: .1vmax;
      border: .1vmax solid rgba(113, 161, 177, 0.521);
      transition: border .3s, background-color .3s;
      cursor: pointer;

      &.today {
        color: #0183d4;
        outline: .1vmax solid #0183d4;
      }
      &.weekend {
        color: red;
      }
      &.selected {
        background-color: lightskyblue;
        font-weight: 700;
        font-size: 1.1vmax;
        color: rgb(5, 48, 5);
      }

      &:hover {
        border: .1vmax solid rgb(128, 128, 128);
      }
    }
  }

  //
  // Dark styles
  //
  &.dark {
    background-color: #36363d;
    color: rgb(241, 235, 235);

    .navigation {
      &>div {
        button {
          background-color: transparent;
          color: wheat;
          outline: .1vmax solid transparent;
          .faCaret {
            color: wheat;
          }  
          &:hover:has(.faCaret) {
            outline: .1vmax solid rgba(245, 222, 179, 0.507);
          }
        }      
      }
    }    

    .dayNames {
      color: grey;
      .weekDayName {
        &.weekend {
          color: coral;
        }
      }
    }
  
    .dates {  
      .dateCell {
        background-color: #36363d;
        color: rgb(241, 235, 235);      
        border: .1vmax solid rgba(128, 128, 128, 0.19);
  
        &.today {
          outline: .1vmax solid rgba(144, 238, 144, 0.466);
        }
        &.weekend {
          color: coral;
        }
        &.selected {
          background-color: rgba(144, 238, 144, 0.253);
          color: rgb(5, 48, 5);
        }
        &:hover {
          border: .1vmax solid rgb(128, 128, 128);
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .picker {
    border-radius: .1vmax;
    font-size: .7vmax;
    font-weight: 400;
  
    .navigation {
      padding: .5vmax;
  
      &>div {
        button {
          width: 2vmax;
  
          &.navBtn {
            width: 1vmax;
          }
          &.rest {
            padding: 0;
            width: 4.5vmax;
          }
        }      
      }
    }
  
    .dayNames {
      gap: .2vmax;
      padding: .2vmax;
    }
  
    .dates {
      gap: .2vmax;
      padding: .2vmax;
  
      .dateCell {
        width: 1.6vmax;
        height: 1.6vmax;

        &.selected {
          font-weight: 700;
          font-size: .7vmax;
        }
      }
    }
  
  }
}


@media screen and (max-width: 1000px) {

}