.fieldset {
  width: 100%;
  border: 1px solid #437EC7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  legend {
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #437EC7;
  }

}