.systems {
  width: 100%;

  .wrapField {
    width: 75%;
  }

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      width: 3vmax;
      height: 3vmax;
    }
  }
}