.selectInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  .input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    input {
      width: 100%;
      padding: 0.7vmax 3vmax 0.7vmax 0.7vmax;
      font: inherit;
      letter-spacing: 0.01vmax;
      font-weight: 400;
      font-size: 1vmax;
      background-color: transparent;
      transition: background-color 1s;
      outline: 1px solid gray;
    }

    button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 2vmax;
      height: 2vmax;
      transition: color 0.3s;
      font-size: 1.7vmax;
      font-weight: 100;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 0.1vmax;

      &.showClnBtn {
        opacity: 1;
      }
    }

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 2vmax;
      height: 2vmax;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 0.1vmax;

      &.showLoading {
        opacity: 1;
      }
    }
  }

  ul {
    top: 0;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2.7vmax;
    transition: opacity 0.3s, max-height 0.5s;

    &.hideSelectList {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
    }

    &.showSelectList {
      max-height: 25vh;
      overflow: auto;
      opacity: 1;
    }

    .itemLi {
      width: 100%;
      margin-bottom: 0.1vmax;

      label {
        font-weight: 400;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0.8vmax 1vmax 0.8vmax 1vmax;
        transition: background-color 0.3s;
        border-radius: 0.1vmax;
      }

      input[type='radio'] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }

    overflow-y: scroll;
    scrollbar-width: 3px;
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}
