.statusOrder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 0.6vmax 2.6vmax 2.6vmax 2.6vmax;
  border-style: solid;
  border-width: 1vmax;
  animation: appearance 500ms ease-in-out forwards;

  & > h1,
  & > h2 {
    text-align: center;
    font-size: 2vmax;
    text-transform: uppercase;
    letter-spacing: 0.17vmax;
  }
  & > h2 {
    margin-bottom: 2.5vmax;
  }
  & > h3 {
    font-size: 1.7vmax;
    margin-bottom: 1vmax;
    span {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 1200px) {
  .statusOrder {
    min-height: 100vh;
    width: 1200px;
    padding: 10px 30px 30px 30px;
    border-width: 10px;

    & > h1,
    & > h2 {
      font-size: 24px;
      letter-spacing: 2px;
    }
    & > h2 {
      margin-bottom: 30px;
    }
    & > h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0.3;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}
