.selectTree {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  .input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    .htmInput {
      width: 100%;
      padding: 0.7vmax 3vmax 0.7vmax 1vmax;
      font: inherit;
      letter-spacing: 0.01vmax;
      font-size: inherit;
      font-weight: 400;
      font-size: 1vmax;
      color: #424242;
      border-bottom: 0.1vmax solid #42424279;
      // border-radius: .1vmax;
      background-color: transparent;
      transition: background-color 1s;

      &:focus {
        outline: none;
        color: navy;
        background-color: rgba(135, 206, 250, 0.5);
      }
    }

    .clearBtn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 2vmax;
      height: 2vmax;
      color: gray;
      transition: color 0.3s;
      font-size: 1.7vmax;
      font-weight: 100;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 0.1vmax;

      &.showClnBtn {
        opacity: 1;
      }

      &:focus,
      &:hover {
        color: red;
      }
    }
  }

  .wrapperList {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 2.7vmax;
    border: 0.1vmax solid lightskyblue;
    transition: opacity 0.3s, max-height 0.5s;
    background-color: rgb(238, 238, 249);

    &.hideSelectList {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
    }

    &.showSelectList {
      max-height: 20vmax;
      overflow: auto;
      opacity: 1;
    }

    scrollbar-width: 3px;
    scrollbar-color: lightblue lightskyblue;
    &::-webkit-scrollbar {
      width: 3px;
    }
    // &::-webkit-scrollbar-track { background: rgb(152, 226, 251); }
    // &::-webkit-scrollbar-thumb { background-color: rgb(40, 197, 250); }

    .selectList {
      list-style: none;
      width: 100%;

      .itemLi {
        width: 100%;
        margin-bottom: 0.1vmax;

        .itemControl {
          display: flex;
          align-items: center;

          .subSwitcherLabel,
          .gap {
            width: 2vmax;
            height: 2vmax;
            margin-left: 0.3vmax;
            margin-right: 0.3vmax;
          }

          .subSwitcherLabel {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            color: navy;
            background-color: rgba(135, 206, 250, 0.5);
            outline: 0.1vmax solid lightskyblue;

            &:hover {
              background-color: lightskyblue;
            }

            &::after {
              position: absolute;
              top: 50%;
              left: calc(50% + 0.3vmax);
              content: '';
              width: 0.6vmax;
              height: 0.1vmax;
              border-bottom: 0.2vmax solid navy;
              transition: transform 0.3s;
            }
            &::before {
              position: absolute;
              top: 50%;
              left: calc(50% + 0.3vmax);
              content: '';
              width: 0.6vmax;
              height: 0.1vmax;
              border-bottom: 0.2vmax solid #424219;
              transform: rotate(90deg);
              transition: transform 0.3s;
            }
            &.changed {
              &::after {
                transform: rotate(-180deg);
              }
              &::before {
                transform: rotate(180deg);
              }
            }
          }
        }

        label {
          font-weight: 400;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(135, 206, 250, 0.5);
          padding: 0.8vmax 1vmax 0.8vmax 1vmax;
          transition: background-color 0.3s;
          border-radius: 0.1vmax;
          color: #424242;
        }

        input[type='radio'] {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          overflow: hidden;

          &:hover {
            & + label {
              background-color: lightskyblue;
            }
          }
        }

        input[type='checkbox'] {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

        .sub {
          // margin-top: .1vmax;
          margin-left: 2vmax;
          height: 0;
          opacity: 0;
          overflow-y: hidden;
          transition: opacity 1s;
        }

        .subSwitcher:checked ~ .sub {
          height: auto;
          opacity: 1;
        }
      }
    }
  }

  //
  // Dark styles
  //
  &.dark {
    .input {
      .htmInput {
        color: rgb(170, 169, 169);

        &:focus {
          color: rgb(207, 207, 229);
          background-color: rgba(0, 0, 128, 0.036);
        }
      }

      .clearBtn {
        &:focus,
        &:hover {
          color: coral;
        }
      }

      // .loading {
      //   color: coral;
      // }
    }

    .wrapperList {
      border: 0.1vmax solid rgba(245, 222, 179, 0.493);
      background-color: #161619;

      .itemLi {
        .itemControl {
          .subSwitcherLabel {
            color: wheat;
            background-color: rgba(255, 217, 0, 0.111);
            outline: 0.1vmax solid rgba(245, 222, 179, 0.493);

            &:hover {
              background-color: #60606d;
            }

            &::after {
              border-bottom: 0.2vmax solid wheat;
            }
            &::before {
              border-bottom: 0.2vmax solid wheat;
            }
          }
        }

        label {
          background-color: #36363d;
          color: rgb(241, 235, 235);
        }

        input[type='radio'] {
          &:hover {
            & + label {
              background-color: #60606d;
            }
          }
        }
      }

      scrollbar-color: #161619 #60606d;
      &::-webkit-scrollbar-track {
        background: #161619;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #60606d;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .selectTree {
    .input {
      .htmInput {
        padding: 0.4vmax 3vmax 0.4vmax 1vmax;
        letter-spacing: 0.01vmax;
        font-weight: 400;
        font-size: 0.8vmax;
        border-bottom: 0.1vmax solid #42424279;
      }

      .clearBtn {
        width: 2vmax;
        height: 2vmax;
        font-size: 1.2vmax;
        font-weight: 100;
        border-radius: 0.1vmax;
      }
    }

    .wrapperList {
      margin-top: 2.4vmax;

      &.showSelectList {
        max-height: 20vmax;
      }

      .selectList {
        .itemLi {
          margin-bottom: 0.1vmax;

          .itemControl {
            .subSwitcherLabel,
            .gap {
              width: 1.2vmax;
              height: 1.2vmax;
              margin-left: 0.3vmax;
              margin-right: 0.3vmax;
            }

            .subSwitcherLabel {
              &::after {
                top: 50%;
                left: calc(50% - 0.2vmax);
                width: 0.4vmax;
                border-bottom: 0.1vmax solid;
              }
              &::before {
                top: 50%;
                left: calc(50% - 0.15vmax);
                width: 0.4vmax;
                border-bottom: 0.1vmax solid;
              }
              &.changed {
                &::after {
                  transform: rotate(-180deg);
                }
                &::before {
                  transform: rotate(180deg);
                }
              }
            }
          }

          label {
            font-weight: 400;
            padding: 0.5vmax 1vmax 0.5vmax 1vmax;
            border-radius: 0.1vmax;
          }

          .sub {
            margin-left: 2vmax;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}
