.rowHint {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;

  label {
    display: flex;
    width: 25%;
    align-items: center;
  }

  .wrapField {
    position: relative;
    width: 75%;

    .hint {
      position: absolute;
      color: rgb(66, 66, 66);
      background-color: lightblue;

      position: absolute;
      top: 2.8vmax;
      z-index: 9;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      box-shadow: 0 0vmax 0.3vmax 0.1vmax rgba(52, 157, 192, 0.575);

      &.show {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 1vmax;
        clip: auto;
        overflow: auto;
        opacity: 1;
        animation: hintAppearance 0.5s ease-in-out forwards;
      }

      .hintCloser {
        position: absolute;
        right: 1vmax;
        top: 1vmax;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: rgba(128, 128, 128, 0.767);

        &:hover {
          color: red;
        }
      }
    }
  }

  //
  // Dark styles
  //
  &.dark {
    .wrapField {
      .hint {
        color: gray;
        background-color: #161619;
        box-shadow: 0 0vmax 0.3vmax 0.1vmax rgba(255, 255, 255, 0.13);
        .hintCloser {
          color: rgba(128, 128, 128, 0.473);

          &:hover {
            color: coral;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .row {
    font-size: 0.8vmax;
  }
}

@media screen and (max-width: 1000px) {
}

@keyframes hintAppearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1vmax;
    clip: auto;
    overflow: auto;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1vmax;
    clip: auto;
    overflow: auto;
    opacity: 1;
  }
}
