.orderData {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > li {
    display: grid;
    gap: 1.7vmax;
    grid-template-columns: 25vmax auto;
    margin-bottom: 0.5vmax;

    div {
      display: flex;
      align-items: center;
      font-size: 1.5vmax;
    }
    div:first-child {
      font-weight: 700;
      line-height: 1.2vmax;
    }
  }
}

@media screen and (min-width: 1200px) {
  .orderData {
    & > li {
      gap: 20px;
      grid-template-columns: 300px auto;
      margin-bottom: 5px;

      div {
        font-size: 18px;
      }
      div:first-child {
        line-height: 16px;
      }
    }
  }
}
