.requestPrivsAll {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5vmax;
  font-size: 1.35vmax;

  & > h3 {
    font-size: 1.7vmax;
    margin-bottom: 1vmax;
  }

  & > ul {
    display: grid;
    font-weight: 300;
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 0.1vmax;
    border-bottom-width: 0.1vmax;

    & > li {
      display: grid;
      border-collapse: collapse;
      grid-template-columns: 40% auto;

      & > label {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5vmax;
        border-top-style: solid;
        border-right-style: solid;
        border-top-width: 0.1vmax;
        border-right-width: 0.1vmax;
      }

      & > ul {
        display: grid;
        grid-template-rows: auto;
        border-right-style: solid;
        border-right-width: 0.1vmaxx;

        & > li {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 25% auto;
          border-top-style: solid;
          border-top-width: 0.1vmax;

          & > label {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5vmax;
            border-right-style: solid;
            border-right-width: 0.1vmax;
          }
          & > ul {
            display: flex;
            flex-direction: column;
            padding: 0.5vmax;
          }
        }
      }

      &:first-child {
        label {
          justify-content: center;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .requestPrivsAll {
    font-size: 16px;
    margin-bottom: 30px;
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
