.guideLine {
  margin-bottom: 1vmax;

  a {
    color: navy;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: navy;
    font-weight: 400;
    a {
      color: rgb(0, 0, 255);
    }
  }

  //
  // Dark styles
  //
  &.dark {
    a {
      color: gray;
    }
    P {
      color: gray;
      a {
        color: rgb(199, 199, 199);
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .guideLine {
  }
}
