.header {
  position: relative;
  min-height: 4vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vmax;
  padding: 0.5vmax;
  // margin-bottom: 1vmax;

  .headerCaption {
    a {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 1vmax;
      }
      .linkSign {
        opacity: 0;
        display: block;
        font-size: 1.5vmax;
        color: rgba(128, 128, 128, 0.623);
        transition: opacity 0.3s;
      }

      &:hover {
        .linkSign {
          opacity: 1;
        }
      }
    }
  }

  .preferences {
    position: absolute;
    right: 3.5vmax;
    top: 0.6vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vmax;
    padding: 1vmax;
    padding-bottom: 0;
    background-color: #ebebeb;
    border: 0.15vmax solid gray;
    border-radius: 0.3vmax;
    z-index: 900;

    & > div {
      width: 100%;
      margin-bottom: 1vmax;
    }

    .btnClosePreferences {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: 0.1vmax solid transparent;
      cursor: pointer;
      color: gray;
      font-size: 1vmax;
      margin-bottom: 0.5vmax;

      &:active,
      &:focus,
      &:active,
      &:hover {
        color: red;
      }
    }
  }

  .btnPreferences {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5vmax;
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 0.3vmax;
    cursor: pointer;
    border: 0.1vw solid transparent;
    transition: border 0.3s;
    width: 2.5vmax;
    height: 2.5vmax;

    div {
      width: 1vmax;
      height: 0.1vmax;
      border-bottom: 1px solid gray;
      transition: opacity 0.3s;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    &::after {
      content: '';
      width: 1vmax;
      border-bottom: 1px solid gray;
      transition: transform 0.3s;
    }
    &::before {
      content: '';
      width: 1vmax;
      border-bottom: 1px solid gray;
      transition: transform 0.3s;
    }
    &.changed {
      &::after {
        transform: rotate(-135deg);
      }
      &::before {
        transform: rotate(135deg);
      }
      div {
        opacity: 0;
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }

    &:active,
    &:focus,
    &:active,
    &:hover {
      border: 0.1vw solid grey;
    }
  }

  &.dark {
    color: wheat;
    .headerCaption {
      a {
        color: wheat;
        .linkSign {
          color: rgba(245, 222, 179, 0.253);
        }
      }
    }

    .preferences {
      background-color: #161619;

      .btnClosePreferences {
        &:active,
        &:focus,
        &:active,
        &:hover {
          color: coral;
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .header {
    min-height: 4vmax;
    font-size: 1.4vmax;
    padding: 0.5vmax;

    & > div {
      h1 {
        font-weight: 400;
      }
    }

    .preferences {
      right: 2.4vmax;
      top: 1.13vmax;
      width: 8vmax;
      border: 0.1vmax solid gray;
      border-radius: 0.2vmax;

      & > div {
        margin-bottom: 0.8vmax;
      }

      // .btnClosePreferences {
      //   font-size: 1vmax;
      //   margin-bottom: .5vmax;
      // }
    }

    .btnPreferences {
      padding: 0.5vmax;
      border-radius: 0.15vmax;
      transition: border 0.3s;
      width: 1.6vmax;
      height: 1.6vmax;

      div {
        left: calc(50% + 0.5vmax);
        width: 0.8vmax;
        height: 0.1vmax;
        border-bottom: 0.15vmax solid gray;
      }

      &::after {
        top: 40%;
        left: calc(50% + 0.5vmax);
        width: 0.8vmax;
        height: 0.1vmax;
        border-bottom: 0.15vmax solid gray;
      }
      &::before {
        top: 56%;
        left: calc(50% + 0.5vmax);
        width: 0.8vmax;
        height: 0.1vmax;
        border-bottom: 0.15vmax solid gray;
      }
      &.changed {
        &::after {
          width: 0.7vmax;
          top: 42%;
          transform: rotate(-135deg);
        }
        &::before {
          width: 0.7vmax;
          top: 54%;
          transform: rotate(135deg);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}
