.infoList {
  display: flex;
  flex-direction: column;
  // outline: 1px solid red;

  .btnGuide {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0;
    padding: 0.4vmax;
    cursor: pointer;
    color: rgb(24, 169, 226);
    font-size: 1.7vmax;
    border: 0.1vmax solid transparent;
    transition: border 0.3s;

    &:hover {
      border-radius: 0.2vmax;
      border: 0.1vmax solid #42424238;
    }

    .icoGuide {
    }
    .lblGuide {
      display: none;
    }
    .clsGuide {
      color: rgba(255, 127, 80, 0.527);
    }
  }

  .guidesList {
    padding: 1vmax;
    background-color: rgb(159, 218, 255);
    border-radius: 0.3vmax;
    margin-left: 1vmax;
    animation: appearance 500ms ease-in-out forwards;
  }

  //
  // Dark styles
  //
  &.dark {
    .btnGuide {
      &:hover {
        border: 0.1vmax solid rgba(245, 222, 179, 0.281);
      }
    }
    .guidesList {
      background-color: #161619;
    }
  }

  @keyframes appearance {
    0% {
      opacity: 0.1;
    }
    80% {
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 500px) {
  .infoList {
    .btnGuide {
      font-size: 1.1vmax;
      color: #424242;
      .icoGuide {
        display: none;
      }
      .lblGuide {
        display: block;
      }
      .clsGuide {
        font-size: 1.7vmax;
      }
    }

    &.dark {
      .btnGuide {
        color: wheat;
      }
    }
  }
}
