.agreeTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1vmax;

  font-weight: 300;

  .stage {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% auto;
    border-collapse: collapse;

    label {
      display: flex;
      padding: 0.5vmax;
      align-items: center;
      width: 100%;
      border: 0.1vmax solid #42424279;
    }
    .stageAgreements {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 40% 35% auto;

      div {
        display: flex;
        align-items: center;
        border: 0.1vmax solid #42424279;
        padding: 0.3vmax 0.7vmax;
        color: rgb(173, 173, 173);
      }
    }
  }  
}
