.agreeTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top-style: solid;
  border-right-style: solid;
  border-top-width: 0.1vmax;
  border-right-width: 0.1vmax;
  font-weight: 300;
  font-size: 1.35vmax;

  & > li:first-child {
    label,
    ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }
  }

  & > li {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% auto;

    & > label {
      display: flex;
      padding: 0.5vmax;
      align-items: center;
      width: 100%;
      border-left-style: solid;
      border-bottom-style: solid;
      border-left-width: 0.1vmax;
      border-bottom-width: 0.1vmax;
    }
    & > ul {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 40% 30% auto;

      & > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.3vmax 0.7vmax;
        border-left-style: solid;
        border-bottom-style: solid;
        border-left-width: 0.1vmax;
        border-bottom-width: 0.1vmax;

        .smaller {
          font-size: 1vmax;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .agreeTable {
    font-size: 16px;

    & > li {
      & > label {
        padding: 7px;
      }
      & > ul {
        & > li {
          padding: 3px 7px;
          .smaller {
            font-size: 12px;
          }
        }
      }
    }
  }
}
