.agreeTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1vmax;
  border-top-style: solid;
  border-right-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;

  & > li:first-child {
    label,
    ul li {
      display: flex;
      justify-content: center;
      font-weight: 700;
    }
  }

  & > li {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% auto;

    & > label {
      display: flex;
      padding: 0.5vmax;
      align-items: center;
      width: 100%;
      border-left-style: solid;
      border-bottom-style: solid;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
    & > ul {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 40% 30% auto;

      & > li {
        display: flex;
        align-items: center;
        padding: 0.3vmax 0.7vmax;
        border-left-style: solid;
        border-bottom-style: solid;
        border-left-width: 1px;
        border-bottom-width: 1px;
      }
    }
    // & :first-child {
    //   border-left-style: solid;
    //   border-bottom-style: solid;
    //   border-left-width: 1px;
    //   border-bottom-width: 1px;
    // }
  }
}
