.app {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #c6c6c6;
  color: #424242;
}

@media screen and (min-width: 1300px) {
}

@media screen and (max-width: 1000px) {
}
