:root {
  --app-bg-dark: #161619;
  --app-clr-dark: #cccccc;
  --status-border-dark: #37373d;
  --status-bg-dark: #1f1f1f;

  --interface-clr-dark: wheat;

  --table-border-dark: #d6d6d6;
  --table-head-bg-dark: #6e7f80;
}

.app {
  background-color: var(--app-bg-dark);
  color: var(--app-clr-dark);
}

.statusOrder {
  border-color: var(--status-border-dark);
  background-color: var(--status-bg-dark);

  & > h1,
  & > h2,
  & > h3 {
    color: var(--interface-clr-dark);
  }
}

.header {
  & > a {
    color: var(--interface-clr-dark);
  }
}

.themeButton {
  color: var(--interface-clr-dark);
}

.langButton {
  button {
    color: var(--interface-clr-dark);
  }
}

.orderData {
  a {
    color: var(--interface-clr-dark);
  }
}

.requestPrivsAll {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-dark);
    border-left-color: var(--table-border-dark);
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
  }

  & > ul {
    & > li {
      &:first-child {
        background-color: var(--table-head-bg-dark);
      }
    }
  }
}

.agreements {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-dark);
    border-left-color: var(--table-border-dark);
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
  }
}

.agreeTable {
  & > li:first-child {
    background-color: var(--table-head-bg-dark);
  }
  a {
    color: var(--interface-clr-dark);
  }
}
