:root {
  --app-bg-dark: #161619;
  --app-clr-dark: #cccccc;
  --status-border-dark: #37373d;
  --status-bg-dark: #1f1f1f;

  --interface-clr-dark: wheat;

  --table-border-dark: #d6d6d6;
  --table-head-bg-dark: #6e7f80;

  --attention-color-dark: coral;

  --extra-bg-dark: #6e7f80;
  --extra-clr-dark: wheat;

  --element-bg-dark: #a0e6ff;
  --element-focus-bg-dark: #6b6b6b;
}

.app {
  background-color: var(--app-bg-dark);
  color: var(--app-clr-dark);
}

.statusOrder {
  border-color: var(--status-border-dark);
  background-color: var(--status-bg-dark);

  & > h1,
  & > h2,
  & > h3 {
    color: var(--interface-clr-dark);
  }
}

.header {
  & > a {
    color: var(--interface-clr-dark);
  }
}

.themeButton {
  color: var(--interface-clr-dark);
}

.langButton {
  button {
    color: var(--interface-clr-dark);
  }
}

.orderData {
  a {
    color: var(--interface-clr-dark);
  }
}

.requestPrivsAll {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-dark);
    border-left-color: var(--table-border-dark);
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
  }

  & > ul {
    & > li {
      &:first-child {
        background-color: var(--table-head-bg-dark);
      }
    }
  }
}

.agreements {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-dark);
    border-left-color: var(--table-border-dark);
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
  }
}

.agreeTable {
  & > li:first-child {
    background-color: var(--table-head-bg-dark);
  }
  a {
    color: var(--interface-clr-dark);
  }
}

.attachments {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  a {
    color: var(--interface-clr-dark);
  }

  & > ul {
    li {
      label {
        background-color: var(--table-head-bg-dark);
        border-color: var(--table-border-dark);
      }
      button {
        color: var(--attention-color-dark);
      }
    }
  }
}

.uplodefile {
  label {
    // color: var(--interface-clr-dark);
    div {
      background-color: var(--table-head-bg-dark);
      border-color: var(--table-border-dark);
    }
  }
}

.control {
  & > div {
    button {
      color: var(--app-clr-dark);
      border-color: var(--table-border-dark);
      background-color: var(--extra-bg-dark);
      color: var(--extra-clr-dark);
    }
    span {
      color: var(--extra-bg-dark);
    }
  }
}

.execution {
  & > h3 {
    color: var(--interface-clr-dark);
  }

  ul,
  li,
  div,
  label {
    border-top-color: var(--table-border-dark);
    border-left-color: var(--table-border-dark);
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
  }

  & > ul {
    & > li {
      &:first-child {
        background-color: var(--table-head-bg-dark);
      }
      div {
        button {
          background-color: var(--table-head-bg-dark);
          border-color: var(--table-head-bg-dark);
          &:hover {
            border-color: var(--table-border-dark);
          }
        }
      }
    }
  }

  a {
    color: var(--interface-clr-dark);
  }
}

.modalPass {
  background-color: #313131;
  outline: 0.1vmax solid gray;

  textarea {
    outline: 0.1vmax solid gray;
    color: var(--app-clr-dark);
  }

  button {
    background-color: var(--table-head-bg-dark);
    border-color: var(--table-head-bg-dark);
    &:hover {
      border-color: var(--table-border-dark);
    }
  }
}

.modalCancel {
  background-color: #313131;
  outline: 0.1vmax solid gray;

  textarea {
    outline: 0.1vmax solid gray;
    color: var(--app-clr-dark);
  }

  button {
    background-color: var(--table-head-bg-dark);
    border-color: var(--table-head-bg-dark);
    &:hover {
      border-color: var(--table-border-dark);
    }
  }
}

.selectInput {
  input {
    color: var(--app-clr-dark);
  }
  button {
    color: var(--app-clr-dark);
    &:focus,
    &:hover {
      color: var(--attention-color-dark);
    }
  }
  ul {
    border: 0.1vmax solid var(--table-border-dark);
    background-color: var(--status-bg-dark);
    label {
      background-color: var(--table-head-bg-dark);
    }
    input[type='radio'] {
      &:focus,
      &:hover {
        & + label {
          background-color: var(--element-focus-bg-dark);
        }
      }
    }
    scrollbar-color: var(--status-bg-dark) var(--app-clr-dark);
  }
}
