:root {
  --app-bg-light: #c6c6c6;
  --app-clr-light: #424242;
  --status-border-light: #e6e6e6;
  --status-bg-light: white;

  --interface-clr-light: #f04e25;

  --table-border-light: #d6d6d6;
  --table-head-bg-light: #f3f2f2;

  --attention-color-light: red;

  --extra-bg-light: #4c8cc9;
  --extra-clr-light: white;
}

.app {
  background-color: var(--app-bg-light);
  color: var(--app-clr-light);
}

.statusOrder {
  border-color: var(--status-border-light);
  background-color: var(--status-bg-light);

  & > h1,
  & > h2,
  & > h3 {
    color: var(--interface-clr-light);
  }
}

.numOrder {
  color: var(--interface-clr-light);
}

.header {
  & > a {
    color: var(--interface-clr-light);
  }
}

.themeButton {
  color: var(--interface-clr-light);
}

.langButton {
  button {
    color: var(--interface-clr-light);
  }
}

.orderData {
  a {
    color: var(--extra-bg-light);
  }
}

.requestPrivsAll {
  & > h3 {
    color: var(--interface-clr-light);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-light);
    border-left-color: var(--table-border-light);
    border-bottom-color: var(--table-border-light);
    border-right-color: var(--table-border-light);
  }
  & > ul {
    & > li {
      &:first-child {
        background-color: var(--table-head-bg-light);
      }
    }
  }
}

.agreements {
  & > h3 {
    color: var(--interface-clr-light);
  }

  ul,
  li,
  label {
    border-top-color: var(--table-border-light);
    border-left-color: var(--table-border-light);
    border-bottom-color: var(--table-border-light);
    border-right-color: var(--table-border-light);
  }
}

.agreeTable {
  & > li:first-child {
    background-color: var(--table-head-bg-light);
  }
  a {
    color: var(--extra-bg-light);
  }
}

.attachments {
  & > h3 {
    color: var(--interface-clr-light);
  }
  a {
    color: var(--extra-bg-light);
  }
  & > ul {
    li {
      label {
        background-color: var(--table-head-bg-light);
        border-color: var(--table-border-light);
      }
      button {
        color: var(--attention-color-light);
      }
    }
  }
}

.uplodefile {
  label {
    // color: var(--interface-clr-light);
    div {
      background-color: var(--table-head-bg-light);
      border-color: var(--table-border-light);
    }
  }
}

.control {
  div {
    button {
      color: var(--app-clr-light);
      border-color: var(--table-border-light);
      background-color: var(--extra-bg-light);
      color: var(--extra-clr-light);
    }
    span {
      color: var(--extra-bg-light);
    }
  }
}

.execution {
  & > h3 {
    color: var(--interface-clr-light);
  }

  ul,
  li,
  div,
  label {
    border-top-color: var(--table-border-light);
    border-left-color: var(--table-border-light);
    border-bottom-color: var(--table-border-light);
    border-right-color: var(--table-border-light);
  }

  & > ul {
    & > li {
      &:first-child {
        background-color: var(--table-head-bg-light);
      }
      div {
        button {
          background-color: var(--table-head-bg-light);
          border-color: var(--table-head-bg-light);
          &:hover {
            border-color: var(--table-border-light);
          }
        }
      }
    }
  }

  a {
    color: var(--extra-bg-light);
  }
}
