:root {
  --app-bg-light: #c6c6c6;
  --app-clr-light: #424242;
  --status-border-light: #e6e6e6;
  --status-bg-light: white;

  --interface-clr-light: #f04e25;
}

.app {
  background-color: var(--app-bg-light);
  color: var(--app-clr-light);
}

.statusOrder {
  border-color: var(--status-border-light);
  background-color: var(--status-bg-light);

  & > h1,
  & > h2,
  & > h3 {
    color: var(--interface-clr-light);
  }
}

.numOrder {
  color: var(--interface-clr-light);
}

.header {
  & > a {
    color: var(--interface-clr-light);
  }
}

.themeButton {
  color: var(--interface-clr-light);
}

.langButton {
  button {
    color: var(--interface-clr-light);
  }
}

