.langButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.5vmax;

  button {
    font-size: 1.1vmax;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 2.5vmax;
    height: 2.5vmax;
    cursor: pointer;
  }

  .selectList {
    position: absolute;
    top: 2.53vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s, max-height 0.5s;

    &.hideSelectList {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
    }

    &.showSelectList {
      max-height: 5vmax;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1200px) {
  .langButton {
    width: 25px;

    button {
      font-size: 14px;
      width: 25px;
      height: 25px;
    }

    .selectList {
      top: 27px;

      &.showSelectList {
        max-height: 50px;
      }
    }
  }
}
