.corpsystems {
  // position: relative;
  width: 100%;
  height: 100vh;
  color: #424242;
  display: flex;
  justify-content: center;
  font-size: 1.2vmax;
  animation: appearance 500ms ease-in-out forwards;

  background-blend-mode: screen;
  background: linear-gradient(rgba(50, 205, 50, 0.03), transparent),
    linear-gradient(90deg, rgba(135, 207, 235, 0.03), transparent),
    linear-gradient(-90deg, rgba(255, 127, 80, 0.03), transparent);

  &.test {
    position: relative;
    box-shadow: inset 0px 0px 10px green;
    &::before {
      position: absolute;
      top: 0.2vmax;
      left: 0.2vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2vmax;
      color: green;
      content: 'TEST';
      box-shadow: 0px 0px 10px green;
    }
    &::after {
      position: absolute;
      bottom: 0.2vmax;
      right: 0.2vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2vmax;
      color: green;
      content: 'TEST';
      box-shadow: 0px 0px 10px green;
    }
  }

  .wrapperCS {
    width: 75%;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
  }

  .form {
    position: relative;
    flex-grow: 1;
    // overflow-y: auto;
    padding: 1vmax;
    color: #424242;
    font-size: 1.2vmax;
    font-weight: 700;
    outline: 0.1vmax solid rgba(128, 128, 128, 0.653);
    background-color: white;

    .guides {
      position: absolute;
      top: 3.7vmax;
      right: 1vmax;
      z-index: 999;
    }

    .nameForm {
      display: flex;
      width: 100%;
      min-height: 3vmax;
      justify-content: center;
      align-items: center;
      font-size: 1.75vmax;
      color: rgb(42, 173, 255);
      font-weight: 500;
      text-transform: uppercase;
      // margin-bottom: .5vmax;
    }

    .aplicantRow {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1.6vmax;

      .aplicantLabel {
        margin-right: 1vmax;

        font-weight: 500;
      }
      .applicantName {
        font-weight: 700;
      }

      .hint {
        position: absolute;
        width: 50%;
        margin-top: -3vmax;
        z-index: 999;
      }
    }

    label {
      width: 25%;
    }

    .wrapField {
      width: 75%;
      position: relative;
    }

    .userData {
      width: 100%;
      position: relative;

      .userDataLoader {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 2vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(145, 61, 254, 0.049);
        animation: showDataLoader 500ms ease-in-out forwards;
        padding: 2vmax;

        @keyframes showDataLoader {
          0% {
            opacity: 0;
          }
          80% {
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .gapRow {
      margin-top: 1.3vmax;
    }

    overflow-y: auto;
    scrollbar-width: 3px;
    scrollbar-color: #c4c4c4 rgb(255, 255, 255);
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: #74d2fe;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(223, 247, 255);
    }

    padding-bottom: 25vmax;
    margin-bottom: 1vmax;
  }

  .info {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: transparent;
    animation: appeaWin 300ms ease-in-out forwards;

    .infoWindow {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 50%;
      max-height: 50vh;
      min-height: 10vh;
      color: #424219;
      background-color: rgb(205, 240, 252);
      padding: 2vmax;
      padding-bottom: 2vmax;
      outline: 1px solid lightblue;

      .infoIcon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vmax;
        top: 1vmax;
        left: 1.5vmax;
        width: 2vmax;
        height: 2vmax;

        &.info {
          color: #2aadff;
        }
        &.warning {
          color: rgb(248, 182, 0);
        }
        &.error {
          color: coral;
        }
      }

      .textArea {
        font-size: 1.2vmax;
        line-height: 1.7;
        margin: 2vmax;
      }
      .closeInfoBtn {
        width: 25%;
        min-height: 20px;
        height: 3vmax;
        background-color: transparent;
        color: #424219;
        border: 0.1vmax solid #2aadff7c;
        border-radius: 0.3vmax;
        text-align: left;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;

        &:hover,
        &:focus {
          background-color: lightskyblue;
        }
      }
    }
    @keyframes appeaWin {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }

  //
  // Dark styles
  //
  &.dark {
    background-color: #161619;

    .form {
      background-blend-mode: screen;
      background: linear-gradient(rgba(116, 255, 116, 0.02), transparent),
        linear-gradient(90deg, rgba(113, 215, 255, 0.02), transparent),
        linear-gradient(-90deg, rgba(255, 152, 111, 0.02), transparent);

      color: rgb(241, 241, 241);

      scrollbar-color: #161619 #60606d;
      &::-webkit-scrollbar-track {
        background: #161619;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #60606d;
      }
    }

    .info {
      .infoWindow {
        color: rgba(255, 255, 255, 0.774);
        background-color: rgb(66, 66, 66);
        outline: 1px solid rgba(245, 222, 179, 0.753);

        .infoIcon {
          &.info {
            color: lightblue;
          }
          &.warning {
            color: rgb(245, 245, 165);
          }
          &.error {
            color: coral;
          }
        }
        .closeInfoBtn {
          background-color: transparent;
          color: wheat;
          border: 0.1vmax solid gray;

          &:hover,
          &:focus {
            background-color: #16161919;
          }
        }
      }
    }
  }

  @keyframes appearance {
    0% {
      opacity: 0.3;
    }
    80% {
    }
    100% {
      opacity: 0.9;
    }
  }

  @media screen and (min-width: 1300px) {
    .wrapperCS {
      width: 55%;
    }

    .form {
      padding: 0.5vmax;
      font-size: 1.2vmax;
      font-weight: 700;

      .nameForm {
        min-height: 3vmax;
        font-size: 1.2vmax;
        font-weight: 500;
      }

      .aplicantRow {
        width: 100%;
        margin-bottom: 1.6vmax;
        font-size: 0.8vmax;

        .aplicantLabel {
          margin-right: 1vmax;
          font-weight: 400;
        }
        .applicantName {
          font-weight: 500;
        }
      }

      label {
        width: 25%;
      }

      .wrapField {
        width: 75%;
      }

      .userData {
        width: 100%;

        .userDataLoader {
          width: 100%;
          height: 100%;
          min-height: 2vmax;
          padding: 2vmax;
        }
      }

      .gapRow {
        margin-top: 1vmax;
      }

      padding-bottom: 25vmax;
      margin-bottom: 1vmax;
    }

    .info {
      width: 100%;
      height: 100vh;

      .infoWindow {
        margin: auto;
        width: 40%;
        max-height: 50vh;
        min-height: 10vh;
        padding: 1.5vmax;
        padding-bottom: 2vmax;

        .infoIcon {
          font-size: 1.2vmax;
          top: 1vmax;
          left: 1vmax;
          width: 2vmax;
          height: 2vmax;
        }

        .textArea {
          font-size: 0.9vmax;
          line-height: 1.5;
          margin: 1.5vmax;
        }
        .closeInfoBtn {
          width: 25%;
          min-height: 20px;
          height: 2.5vmax;
          border-radius: 0.1vmax;
          font-size: 0.9vmax;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .wrapperCS {
      width: 95%;
    }
  }
}
