.addedRole {
  display: flex;
  margin-bottom: 1vmax;
  justify-content: space-between;
  align-items: center;

  border: 1px solid gray;
  &:hover {
    background-color: lightskyblue;
  }  

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  
  .header {
    flex-grow: 1;
    padding: .8vmax;
    justify-content: flex-start;
    text-align: left;
    overflow-x: hidden;
    cursor: pointer;
    font-size: 1vmax;

    // &:focus,
    // &:hover {
    //   // background-color: lightskyblue;
    // }    
  }

  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    // border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 2vmax;
    height: 2vmax;
    color: gray;
    transition: color .3s;
    font-size: 1.7vmax;
    font-weight: 100;
    border-radius: .1vmax;

    &.showClnBtn {
      opacity: 1;
    }

    &:focus,
    &:hover {
      color: red;
    } 
  }

  //
  // Dark styles
  //
  &.dark {
    &:focus,
    &:hover {
      background-color: #ffffff18
    }
    .header {
      color: #aaa9a9;

      &:focus,
      &:hover {
        // background-color: #ffffff18
      }
    }
  
    .remove {
      &:focus,
      &:hover {
        color: coral;
      } 
    }
  }   
}

@media screen and (min-width: 1300px) {
  .addedRole {
    margin-bottom: 1vmax;  

    .header {
      padding: .8vmax;
      font-size: .8vmax;
    }
  
    .remove {
      width: 2vmax;
      height: 2vmax;
      font-size: 1.2vmax; 
    }  
  }
}


@media screen and (max-width: 1000px) {

}
